.editor-container {
  /* border: 2px solid black; */
  width: 55%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 35px;
}

.editor-header {
  border: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#editor {
  margin-top: 0;
  box-sizing: border-box;
  width: 100%;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  resize: vertical;
}