.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.container {
  border: 2px solid black;
  width: 55%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
}
